{% extends "home.html" %}

{% block content %}
<div class="max-w-7xl mx-auto min-h-screen">
    <div class="flex flex-col items-center justify-center px-1 py-1 lg:px-6 lg:py-6 mb-4 min-h-max lg:py-0">
        <div class="w-full max-w-screen-2xl dark:text-white pt-4 p-2 mb-4 text-md md:text-lg lg:text-xl">
            <p class="clear-none text-2xl font-bold">Edit {{data}}</p>
            <p class="clear-none pt-2">To Edit a{{data}}, make changes and click `Save`</p>
            <p class="clear-none">To refresh data, click `Refresh Data`.</p>
        </div>
        <div id="apiDataForms" class="py-8 px-4 mx-auto w-screen-lg w-full lg:py-16"></div>
        <script>apiGetData('{{data}}','apiDataForms')</script>
        <button class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-800 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800" onCLick="apiGetData('{{data}}','apiDataForms','w-fit mb-4','http://192.168.2.240:5000/api/user')">Refresh Data</button>
    </div>
</div>
<div id="handlers" class="bg-gray-500">
</div>
{% endblock %}