{% extends "home.html" %}

{% block content %}
    <section class="bg-white dark:bg-gray-900 pb-3">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-10">
                <h2 class="max-w-3xl mb-4 text-2xl font-extrabold tracking-tight leading-none md:text-3xl xl:text-4xl dark:text-white">{{intro['header']}}</h1>
        {% for item in intro['body'] %}
            {% if 'button' in item %}
                <a href="{{ intro['body'][item]['link']['url'] }}" {{ intro['body'][item]['link']['target'] }} class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    {{ intro['body'][item]['text'] }}
                {% if 'true' in intro['body'][item]['focus'] %}
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                {% endif %}
                </a>
            {% else %}
                <p class="max-w-3xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{ intro['body'][item] }}</p>
            {% endif %}
        {% endfor %}
            </div>
        {% for item in intro['image'] %}
            <div class="hidden lg:mt-0 lg:col-span-2 lg:flex">
            {% if intro['image'][item]['link'] %}
                <a href="{{ intro['image'][item]['link'] }}"
            {% endif %}
                <img src="{{ intro['image'][item]['src'] }}" alt="{{ intro['image'][item]['alt'] }}">
            {% if intro['image'][item]['link'] %}
                </a>
            {% endif %}
        {% endfor %}
            </div>                
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900 pb-3">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        {% for item in intro2['image'] %}
            <div class="hidden lg:mt-0 lg:col-span-4 lg:flex">
            {% if intro2['image'][item]['link'] %}
                <a href="{{ intro2['image'][item]['link'] }}">
            {% endif %}
                <img src="{{ intro2['image'][item]['src'] }}" alt="{{ intro2['image'][item]['alt'] }}">
            {% if intro2['image'][item]['link'] %}
                </a>
            {% endif %}
            </div>
        {% endfor %}
            <div class="mr-auto place-self-center lg:col-span-8">
                <h2 class="max-w-3xl mb-4 text-3xl font-extrabold tracking-tight leading-none md:text-3xl xl:text-4xl dark:text-white">{{intro2['header']}}</h1>
        {% for item in intro2['body'] %}
            {% if 'button' in item %}
                <a href="{{ intro2['body'][item]['link']['url'] }}" {{ intro2['body'][item]['link']['target'] }}  class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    {{ intro2['body'][item]['text'] }}
                {% if 'true' in intro2['body'][item]['focus'] %}
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                {% endif %}
                </a>
            {% else %}
                <p class="max-w-3xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{ intro2['body'][item] }}</p>
            {% endif %}
        {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %}
