{% extends "home.html" %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mb-24 mt-4 min-h-max lg:py-0">
        <div class="w-full shadow md:mt-0 max-w-screen-2x1 dark:text-white p-4 text-3xl">
            Descriptive Title
        </div>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 max-w-screen-2xl dark:bg-gray-800 dark:text-white dark:border-gray-700 pt-4 p-10 mb-4 text-xl">
            <p class="text-2xl">Descriptive Subtitle</p>
            <p class="text-sm pl-4">by Admin</p>
            <p class="pt-4">Here is the first paragraph.</p>
            <p>Now there's a second one.</p>
        </div>
        <div class="w-full shadow md:mt-0 max-w-screen-2x1 dark:text-white p-4 text-3xl">
            Header for Part 2
        </div>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 max-w-screen-2xl dark:bg-gray-800 dark:text-white dark:border-gray-700 p-10 pt-4 mb-4 text-xl mb-20">
            Some Content There
        </div>
    </div>
</section>
{% endblock %}